:root {
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-size: 8px;
    margin: 0;
    padding: 0;

    /*Colors*/
    --color-white:#FBFBFF;
    --color-blue: #583DFF;
    --color-black: #101011;
    --color-gradient: rgba(16, 16, 17, 1);
    --color-active-button: rgba(251, 251, 255, 1);
    --color-button:rgba(88, 61, 255, 1);
    --shadow-active-button: rgba(88, 61, 255, 0.2);
    --shadow-button: rgba(251, 251, 255, 0.15);
    --color-register-bg: rgba(16, 16, 17, 1);

    /*Layout*/
    --container-width: 1032px;
    --container-pad: 4rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    font-family: 'Ubuntu';
}

h1,
.h1 {
 font-size: 6.75rem;
 line-height: 1.14px;
 font-weight: 700;
}

h2,
.h2 {
 font-size: 4rem;
 font-weight: 700;
}

h3,
.h3 {
    font-size: 3.25rem;
    line-height: 1.14px;
    font-weight: 700;
}

h4,
.h4 {
    font-size: 2.25rem;
    line-height: 1.14px;
    font-weight: 700;
}

h5,
.h5 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.14px;
}

p,
.p {
    font-size: 2rem;
    font-weight: 400;
}

/*Texts*/



.ellipse {
  width: 150px;
  height: 150px;
  background-color: rgba(88, 61, 255, 1);
  border-radius: 50%;
  filter: blur(160px);
  position: absolute;
  top: 375px;
  left: -75px;
}


/*Swiper*/

 .swiper {
        width: 1290px;
        display: flex;
        margin-left: 155px;
        background: #000;
        height: 450px;
        overflow: hidden;
        position: absolute;
        top: 40px;
        border-radius: 5px;
}

.swiper,swiper-container {
      margin-top: 0;
      margin-right: 0;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
      display: block
}
  
.swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
  
.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}
  
.autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
}
  
.autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
}

.swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 50px;
      margin-left: 330px;
}

.swiper-pagination-bullet {
      width: 20px;
      height: 8px;
      border-radius: 2px;
      background-color: rgba(251, 251, 255, 1);
      opacity: 0.5;
      margin: 0 5px;
      transition: width 0.8s ease-out;
}
      
      
.swiper-pagination-bullet-active {
      opacity: 1;
      width: 50px;
      background-color: #583DFF;
}

/*Links*/

a {
    text-decoration: none;
}


a:hover {
    color: var(--color-blue);
}

/*register*/
.login-box {
  padding-top: 183px;
  margin-left: 155px;
  position: relative;
  width: 410px;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title {
  padding-bottom: 35px;
  align-items: center;
  justify-content: center;
}

.input-box {
  position: relative;
  padding-bottom: 15px;
  width: 410px;
}

.input-box input {
  width: 100%;
  height: 56px;
  padding-left: 15px;
  border-radius: 5px;
  border-color: rgba(88, 61, 255, 1);
  font-size: 2rem;
}

input:focus {
  outline: none;
}

.btn {
 padding: 16px 105px 16px 112px;
 border-radius: 5px;
 border: 0px;
}

button {
  align-items: center;
  cursor: pointer;
}

.btn-facebok {
  padding: 16px 100px 16px 92px;
  border-radius: 5px;
  border: 0px;
}
.btn-google {
  padding: 16px 103px 16px 107px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 0px;
}
.rating {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: rgba(88, 61, 255, 1);
  color: #fff;
  width: 50px;
  padding: 3.5px 10px 3.5px 45px;
  align-items: center;
  font-size: 16px;
}


/*Display*/


/*Icons*/

.icon-bxs-login {
  width: 14px;
  height: 20px;
  background-repeat: no-repeat;
}

.icon-active-profile,
.icon-notifications,
.icon-profile {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.icon-facebok,
.icon-google {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon-active-search,
.icon-search,
.icon-tablet-plus,
.icon-close-box {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.icon-frame-register {
  background-repeat: no-repeat;
}

.icon-star {
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 6px;
}

.icon-active-search {background-image:url(/icon/active_search.svg) ;}
.icon-facebok {background-image:url(/icon/facebok.svg) ;}
.icon-google {background-image:url(/icon/google.svg) ;}
.icon-search {background-image:url(/icon/search.svg) ;}
.icon-tablet-plus {background-image:url(/icon/tabler_plus.svg) ;}
.icon-close-box {background-image:url(/icon/mdi_close-box.svg) ;}
.icon-active-profile {background-image:url(/icon/active_profile.svg) ;}
.icon-notifications {background-image:url(/icon/notifications.svg) ;}
.icon-profile {background-image:url(/icon/profile.svg) ;}
.icon-bxs-login {background-image:url(/icon/bxs_log-in.svg) ;}
.icon-frame-register {background-image: url(/icon/frame-register.svg);}
.icon-star {background-image: url(/icon/Star.svg);}

/*Header*/

header {
  border-bottom: 2px solid #583DFF;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  padding: 35px 0px;
  
}

/*Navigation*/
.menu {
  text-decoration: none;
}

.menu-list {
  gap: 25px;
  
}

li a {
  color: white;
}


a:hover {
  color: #fff;
  text-decoration: underline 2px #583DFF;  
}

ul {
  list-style-type: none;
}

.search-container {
  display: flex;
  padding-left: 155px;
  align-items: center;
}

#search-input {
  padding: 10px ;
  border: none;
  height: 43px;
  width: 293px;
  border-radius: 5px;
  flex: 1;
}

#search-input:focus{
  outline: none;
}

#search-button {
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  height: 43px;
  margin-left: -6px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-profile {
  gap: 10px;
  display: flex;
  padding-left: 155px;
}

/*Seaction*/

